<header>
    @if (User.IsInRole("Admin"))
    {
        <h3 style="text-align:center;margin-top:10px">Hello Admin </h3>
    }
    <a class="btn btn-primary mx-2 mb-3" asp-area="" asp-controller="Home" asp-action="Index">Back To Home</a>

</header>